<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="centered-box">
            <h1>LOGIN</h1>
            <a href="/oauth2/authorization/github" class="github-login">
                <img src="/images/img.png" alt="GitHub" class="github-icon">
                Login with GitHub</a>
        </div>
    </div>
</body>
</html>