<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="centered-box">
            <h1>JOIN</h1>
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="input-box">
                    <input type="text" id="username" th:field="*{username}" required placeholder="아이디를 입력해주세요"/><br/>

                    <input type="password" id="password" th:field="*{password}" required placeholder="비밀번호를 입력해주세요"/><br/>

                    <input type="email" id="email" th:field="*{email}" required placeholder="이메일을 입력해주세요"/><br/>

                    <input type="text" id="userNick" th:field="*{userNick}" required placeholder="닉네임을 입력해주세요"/><br/>
                </div>

                <div class="button-box">
                    <input type="submit" value="회원가입"/>
                </div>
            </form>
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </div>
</body>
</html>